<p>
    <mat-toolbar color="primary">
      <span>Przychodnia Kortowo</span>
      <div class= "menu_przyciski" fxLayoutGap="20px">
        <button mat-raised-button color="warn" routerLink="/home">Profil</button>
        <button mat-raised-button color="warn" routerLink="/wizyta">Formularz Wizyty Lekarskiej</button>
        <button mat-raised-button color="warn" routerLink="/doctorinfo">Kontakt</button>
        <button mat-raised-button color="accent" (click)="onLogout()">Wyloguj</button>
  
      </div>
    </mat-toolbar>
  </p>
  <mat-card class="hello">
    <h1>Witamy w aplikacji przychodnia kortowo!</h1>
    <p>
    Aplikacja stworzona na potrzeby projektu zespołowego przez zespół studentów UWM 🔥 Przerzutnik Bistabilny_v2 🔥, 
    w którego skład wchodzą - Sebastian Krzynówek, 
    Mateusz Kowalewski, Paweł Kulesza, Marcin Krzemiński, Marcin Kozłowski, Michał Wołyniec.
    </p>
  </mat-card>
 