form
{
text-align: center;
}
h3
{
text-align: center;
margin-bottom: auto;

}

table {
    width: 100%;
  }

.formVisit
{

    display: inline-block;
    width: 100%;
    vertical-align: middle;
    flex-direction: row;
    align-items: center;
	
}
.pop
{
  text-align: center;
}
h2
{
  text-align: center;
}
.centrum
{
  text-align: center;
}