
  
  <mat-card class = "all">
    <div class= "pop" *ngIf="alert" >
      <mat-card>
              <strong><h2> Udało się!</h2> </strong>  <h3>  Zaktualizowano dane!</h3>
              <button  mat-raised-button color="warn" (click)=" closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                  Ok
              </button>
      </mat-card>
    </div>
  
  
    <form [formGroup]="EditPatient" (ngSubmit)="collection()">
        <div class="formVisit" fxLayoutGap="10px">
          <h3>Aktualizacja</h3>
          <mat-form-field appearance="fill">
            <mat-label>Imię</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Nazwisko</mat-label>
            <input matInput formControlName="surname">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Płeć</mat-label>
            <input matInput formControlName="gender">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Nr. Telefonu</mat-label>
            <input matInput formControlName="telNumber">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label> Wybierz date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthdayDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Adress Zamieszkania</mat-label>
            <input matInput formControlName="adress">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Nr. PESEL</mat-label>
            <input matInput formControlName="pesel">
          </mat-form-field>
          <div class="sub" fxLayoutGap="10px">
            <button mat-raised-button color="accent" type="submit">Wyślij</button>
            <button mat-raised-button color="accent" (click)="back()">cofnij</button>
    </div>
  
      </div>
  
    </form>
  
  </mat-card>
